@model DataLayer.Entities.Supplementary.CoWorker

@{
    ViewData["Title"] = "حــذف همکار";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-danger">حــذف همکار</h1>

<h3 class="text-xs-center text-warning">آیا مطمئن به حــذف همکار هستید؟</h3>
<div class="container-fluid">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="حــذف" class="btn btn-danger" /> |
            <a asp-action="Index">بازگشــت</a>
        </form>
    </div>
</div>

