@model Core.DTOs.SiteGeneric.Liability.LiabilityInsStep1VM
@{
    ViewData["Title"] = "درخواست بیمه مسئولیت - بیمه ملت";
}
@section Head{
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="fa" />
    <meta name="document-type" content="Public" />
    <meta name="document-rating" content="General" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Ali Asle Zaeim" />
    <meta name="description" content="ثبت درخواست برای بیمه مسئولیت" />
    <link href="~/Layout/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Layout/Css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Layout/Css/animate.css" rel="stylesheet" />
    <link href="~/Layout/Css/Style.css" rel="stylesheet" />
    <link href="~/Layout/Css/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Layout/Css/sina-nav.min.css" rel="stylesheet" />
    <link href="~/lib/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.webp" />
    <link href="~/Layout/Css/LiabilityInsStyle.css" rel="stylesheet" />
    <link rel="canonical" href="https://melatins.com/Liabilty-Insurance" />

}
@section Header{
    <partial name="_Header" />
}

<div class="container-fluid p-0">
    <div class="row w-100 p-0 m-0 justify-content-center">
        <div class="col-12 col-sm-9 col-md-7 col-lg-6  text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3 ">
                <h2 id="heading" class="zHeaderfont-size">ثبت درخواست بیمه مسئولیت</h2>
                <p>در ثبت و بارگذاری مدارک دقت فرمائید، ملاک صدور بیمه نامه اطلاعات ثبت شده توسط شما خواهد بود</p>
                <div id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar3">
                        <li class="active" id="properties"><strong>مشخصات</strong></li>
                        <li id="questionnaire"><strong>پرسشنامه</strong></li>

                        <li id="check"><strong>کنترل اطلاعات</strong></li>
                    </ul>
                    <div class="progress">
                        <div id="prog-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br>
                    <fieldset>
                        <script src="~/lib/jquery/dist/jquery-3.2.1.min.js"></script>
                        <div class="form-card m-1" id="liaform-card">
                            @await Html.PartialAsync("/Views/Liability/LiabilityInsStep1.cshtml", Model)
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>
@section Footer{
    <partial name="_Footer" />
    }
@section Scripts{
    <script src="/Layout/Js/bootstrap.min.js"></script>
    <script src="/Layout/Js/sina-nav.min.js"></script>
    <script src="/Layout/PageJs/Fireins.js"></script>
    <script>
        function vmsNationalCode(input) {
            if (!/^\d{10}$/.test(input)
                || input == '0000000000'
                || input == '1111111111'
                || input == '2222222222'
                || input == '3333333333'
                || input == '4444444444'
                || input == '5555555555'
                || input == '6666666666'
                || input == '7777777777'
                || input == '8888888888'
                || input == '9999999999')
                return false;
            var check = parseInt(input[9]);
            var sum = 0;
            var i;
            for (i = 0; i < 9; ++i) {
                sum += parseInt(input[i]) * (10 - i);
            }
            sum %= 11;
            return (sum < 2 && check == sum) || (sum >= 2 && check + sum == 11);
        }
        var sellercode_input = document.getElementById("SellerCode");
        sellercode_input.addEventListener("keyup", function (e) {
            if (e.key !== "Enter") {
                var sellerinfo_span = document.getElementById("sellerinfo");
                sellerinfo_span.innerText = "";
            }

        });
        $(document).ready(function () {
            jQuery.ajaxSetup({
                beforeSend: function () {
                    $('#overlay').show();
                },
                complete: function () {
                    $('#overlay').hide();
                },

            });
        })
    </script>
    }




