@model Core.DTOs.SiteGeneric.Liability.LiabilityInsStep1VM
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="col-xs-12 p-2 zsteps"  data-step="1">
    <div class="row">
        <div class="col-12">
            <div class="row pr-2 pl-2">
                <div class="col-md-4 col-xs-12">
                </div>
                <div class="col-md-4 col-xs-12 text-center pt-1">
                </div>
                <div class="col-md-4 col-xs-12 text-md-left">
                    <a href="/Liability/RefreshForm" class="btn btn-danger  text-white col-xs-12 col-md-6">خالی کردن فرم</a>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-lg-center">مرحله اول - مشخصات</h3>
    <h6 class="text-danger text-center">عکس های با پسوند jpeg, jpg, gif, png مورد قبول هستند</h6>
    <h6 class="text-danger text-center">حداکثر حجم مجاز عکس 1 مگابایت می باشد</h6>
    <form method="post" asp-action="LiabilityInsStep1" asp-controller="Liability" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace"
          data-ajax-update="#liaform-card" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="TrCode" />
        <input type="hidden" asp-for="StrInsurerNCImage" />
        <input type="hidden" asp-for="StrAttributedLetterImage" />
        <input type="hidden" asp-for="Premium" />
        <div class="form-group">
            @{
                string SellerInfo = string.Empty;
                if (!string.IsNullOrEmpty(Model.SellerFullName))
                {
                    SellerInfo = Model.SellerFullName + " | " + Model.SellerCellphone;
                }
            }
            <label asp-for="SellerCode" id="mhand" class="control-label"></label><span class="float-left bg-info pr-1 shioSellerInfo pl-1 text-white cursor-pointer " id="sellerinfo">@SellerInfo</span>

            <div class="input-group">
                <input type="text" class="form-control" onkeypress="return checkNumber(event)" asp-for="SellerCode">
                <span class="input-group-btn">
                    <button type="button" id="btnViewSeller">
                        مشاهده
                    </button>
                </span>
            </div>
            <span asp-validation-for="SellerCode" class="text-danger"></span>
        </div>
        <div class="form-group required">
            <label asp-for="InsurerName" class="control-label required"></label>
            <input asp-for="InsurerName" oninput="ClearNC()" class="form-control" />
            <span asp-validation-for="InsurerName" class="text-danger"></span>
        </div>
        <div class="form-group required">
            <label asp-for="InsurerFamily" class="control-label required"></label>
            <input asp-for="InsurerFamily" oninput="ClearNC()" class="form-control" />
            <span asp-validation-for="InsurerFamily" class="text-danger"></span>
        </div>
        <div class="form-group required">
            <label asp-for="InsurerNC" class="control-label required"></label>
            <input asp-for="InsurerNC" autocomplete="off" oninput="ClearPhone()" onkeypress="return checkNumber(event)" class="form-control NCField" />
            <span asp-validation-for="InsurerNC" class="text-danger ncValid"></span>
        </div>
        <div class="form-group required">
            <div id="inscellDiv" class="col-xs-12">
                <label asp-for="InsurerCellphone" id="insCellLabel" class="control-label required"></label>
            </div>
            @{
                string plc = "به این شکل وارد شود : " + "09xxxxxxxxx";
            }
            <input asp-for="InsurerCellphone" autocomplete="off" placeholder="@plc" onkeypress="return checkNumber(event)" class="form-control" />
            <span asp-validation-for="InsurerCellphone" class="text-danger"></span>
        </div>
        <div class="form-group row required" >
            <div class="imgUp col-12">
                <label asp-for="InsurerNCImage" class="control-label"></label>
                <div class="imagePreview" id="insurernc-image"></div>
                <input type="file" class="uploadFile img no-display" onChange="validate(this,this.value)" accept=".png, .jpg, .jpeg, .gif" id="insurernc-image-upload" asp-for="InsurerNCImage">
                <br />
                <span asp-validation-for="InsurerNCImage" id="insurerNCImageValid" class="text-danger valid"></span>
            </div>
        </div>
        <div class="form-group required">
            <label asp-for="InsurerStatus" class="control-label required"></label>
            <Select asp-for="InsurerStatus" id="insurerstatus" class="custom-select">
                <option selected="selected" value="">وضعیت بیمه گذار را انتخاب کنید</option>
                <option value="np" data-id="np">فرد عادی</option>
                <option value="retired" data-id="retired">بازنشسته کشوری یا تامین اجتماعی</option>
                <option value="related" data-id="related">منتسب بازنشسته</option>
                <option value="group" data-id="group">گروهی</option>
            </Select>
            <span asp-validation-for="InsurerStatus" class="text-danger"></span>
        </div>
        <div class="form-group row @((Model.InsurerStatus == "related")? "":"no-display")" id="alimg">
            <div class="imgUp col-12">
                <label asp-for="AttributedLetterImage" class="control-label"></label>
                <div class="imagePreview" id="al-image"></div>
                <input type="file" class="uploadFile img no-display" onChange="validate(this,this.value)" accept=".png, .jpg, .jpeg, .gif" id="al-image-upload" asp-for="AttributedLetterImage" value="Upload Photo">
                <br />
                <span asp-validation-for="AttributedLetterImage" id="alImageValid" class="text-danger valid"></span>
            </div>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="مرحله بعد" class="btn btn-primary" id="submit1" />
        </div>
        <div id="loader" class="no-display" style="position:absolute;top:90%;right:45%">
            <img src="~/images/Spinner-3.gif" />
        </div>
        
    </form>
</div>

<script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/customvalidate.js"></script>
<script>
    
    $(document).ready(function () {
        $(document)
            .ajaxStart(function () {
                $('#loader').removeClass("no-display");
            })
            .ajaxComplete(function () {
                $('#loader').addClass("no-display");
            });
        $(function () {
            $('#SellerCode').keyup(function (e) {
                var ctrlKey = 67, vKey = 86;
                if (e.keyCode != ctrlKey && e.keyCode != vKey) {
                    $('#SellerCode').val(persianToEnglish($(this).val()));
                }
            });
        });
        $(function () {
            $('#InsurerNC').keyup(function (e) {
                var ctrlKey = 67, vKey = 86;
                if (e.keyCode != ctrlKey && e.keyCode != vKey) {
                    $('#InsurerNC').val(persianToEnglish($(this).val()));
                }
            });
        });
        $(function () {
            $('#InsurerCellphone').keyup(function (e) {
                var ctrlKey = 67, vKey = 86;
                if (e.keyCode != ctrlKey && e.keyCode != vKey) {
                    $('#InsurerCellphone').val(persianToEnglish($(this).val()));
                }
            });
        });
        
        $("#InsurerCellphone").focusout(function () {
            var vnc = $("#InsurerNC").val();
            var insName = $("#InsurerName").val();
            var insFamily = $("#InsurerFamily").val();
            var inscell = $(this).val();
            var validnc = "no";
            if (insName == "") {
                alert("نام بیمه گذار را وارد کنید !");
                $("#InsurerName").focus();
                return;
            }
            if (insFamily == "") {
                alert("نام خانوادگی بیمه گذار را وارد کنید !");
                $("#InsurerFamily").focus();
                return;
            }
            if (vnc == "") {
                alert("کد ملی وارد نشده است !");
                $("#InsurerNC").focus();
                return;
            }
            var vcell = $("#InsurerCellphone").val();
            if (vcell == "") {
                alert("تلفن همراه وارد نشده است !");
                return;
            }
            if (vcell.length === 11) {
                //$("#spanVal").removeClass("no-display");
                $.ajax({
                    url: "/SitePages/CheckCellphoneForSendCode",
                    type: "POST",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },

                    complete: function () {
                        $('#loader').addClass("no-display");
                        if ($("#inscellDiv #spanconf").length !== 0) {
                            $("#spanVal").remove();
                            $("#spanconf").remove();
                        }
                    },

                    data: { NC: vnc, Cellphone: vcell },
                    success: function (result) {
                        if (result.blnsend === true) {
                            $("#spanconf").remove();
                            var inpCode = "";
                            Swal.fire({
                                text: 'کد ارسال شده به تلفن همراه را وارد کنید',
                                input: 'text',
                                inputAttributes: {
                                    autocapitalize: 'off'
                                },
                                showCancelButton: true,
                                cancelButtonText: "انصراف",
                                confirmButtonText: 'تایید',
                                showLoaderOnConfirm: true,
                                preConfirm: (login) => {
                                    inpCode = login;
                                }
                            }).then((data) => {

                                if (data.isConfirmed) {
                                    var nc = $("#InsurerNC").val();
                                    var cell = $("#InsurerCellphone").val();
                                    var url2 = '/SitePages/ApplyValidation?NC=' + nc + '&Code=' + inpCode + '&Cell=' + cell;
                                    return fetch(url2, {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        }
                                    }).then(response => {
                                        return response.json()
                                    }).then(data => {
                                        if (data == true) {
                                            $("#submit1").removeAttr("disabled");
                                            $("#spanVal").remove();
                                            $("#spanconf").remove()
                                            $("#btnSend").remove();
                                        }
                                        else {
                                            $("#submit1").attr("disabled", true);
                                            Swal.fire({
                                                title: 'کد وارد شده صحیح نمی باشد',
                                                text: 'کد جدید را به درستی وارد کنید',
                                                showDenyButton: true,
                                                confirmButtonText: 'ارسال مجدد',
                                                denyButtonText: `انصراف`,
                                            }).then((result) => {
                                                /* Read more about isConfirmed, isDenied below */
                                                if (result.isConfirmed) {
                                                    $("#InsurerCellphone").focusout();
                                                } else if (result.isDenied) {

                                                    var spanEl = "<span id='spanVal' class='text-danger  ml-2 mr-2'>شماره تلفن اعتبار سنجی نشده است !</span>";
                                                    var btnVal = "<button type='button' class='mr-2 float-left btn btn-primary' id='btnSend'>" + "دریافت کد" + "</button>";
                                                    if ($("#inscellDiv #spanVal").length === 0) {
                                                        $("#spanconf").remove();
                                                        $("#inscellDiv").append(btnVal);
                                                        $("#inscellDiv").append(spanEl);
                                                        $("#btnSend").click(function () {
                                                            $("#InsurerCellphone").focusout();
                                                        });
                                                    }
                                                    $("#submit1").attr("disabled", true);
                                                }
                                            });
                                        }
                                    })
                                } else {
                                    var spanEl = "<span id='spanVal' class='text-danger  ml-2 mr-2'>شماره تلفن اعتبار سنجی نشده است !</span>";
                                    var btnVal = "<button type='button'  class='mr-2 float-left btn btn-primary' id='btnSend'>" + "دریافت کد" + "</button>";
                                    if ($("#inscellDiv #spanVal").length === 0) {
                                        $("#spanconf").remove();
                                        $("#inscellDiv").append(btnVal);
                                        $("#inscellDiv").append(spanEl);
                                        $("#btnSend").click(function () {
                                            $("#InsurerCellphone").focusout();
                                        });
                                    }
                                    $("#submit1").attr("disabled", true);
                                }
                            })
                        }
                        else {
                            $("#submit1").removeAttr("disabled");
                        }
                    }
                })
            }
        })
    })
    var percent = parseFloat(100 / 3);
    percent = percent.toFixed();
    document.getElementById("prog-bar").style.width = percent + "%";
    document.getElementById("properties").classList.add("active");
    document.getElementById("questionnaire").classList.remove("active");

    var btnviewseller = document.getElementById("btnViewSeller");
    var sellercode_input = document.getElementById("SellerCode");
    document.getElementById("check").classList.remove("active");

    var imgpreviews = document.getElementsByClassName("imagePreview");
    for (var l = 0; l < imgpreviews.length; l++) {
        imgpreviews[l].addEventListener("click", function () {
            var nextEl = this.nextElementSibling;
            var elem = document.getElementById(nextEl.id);
            elem.click();
        });
    }
    function validate(elem, file) {
        var idd = ($(elem).attr("id"));
        var ext = file.split(".");
        ext = ext[ext.length - 1].toLowerCase();
        var arrayExtensions = ["jpg", "jpeg", "png", "gif"];

        if (arrayExtensions.lastIndexOf(ext) == -1) {
            alert("پسوند فایل نادرست است! پسوند های درست عبارتند از  : " + arrayExtensions.join(', '));
            $("#" + idd).val("");

        }
    }
    function ShowImage(src_el_id, show_el_id) {
        var img_el = document.getElementById(src_el_id);
        var imgname = img_el.value;
        var src = "/images/icons/select-icon.png";
        if (imgname !== "") {
            src = "/images/Ins/lia/" + imgname;
        }
        document.getElementById(show_el_id).style.backgroundImage = "url('" + src + "')";
    }
    //1- hidden file Input /InsurerNCImage
    // 2- Div for imagePreview fireinsurernc-image

    ShowImage("StrInsurerNCImage", "insurernc-image");
    ShowImage("StrAttributedLetterImage", "al-image");
    var selection = document.getElementById("insurerstatus");

    selection.addEventListener("change", function () {
        var sel_option_data_id = selection.options[selection.selectedIndex].dataset.id;
        document.getElementById("alImageValid").innerText = '';
        if (sel_option_data_id === "related") {
            document.getElementById("alimg").classList.remove("no-display");
        }
        else {
            document.getElementById("alimg").classList.add("no-display");
        }

    });
    document.querySelectorAll('.uploadFile').forEach(function (el) {
        el.addEventListener('change', function () {
            var parent = this.parentElement;            
            parent.querySelector('.valid').innerText = '';
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return;
            if (/^image/.test(files[0].type)) { // only image file
                var reader = new FileReader(); // instance of the FileReader
                reader.readAsDataURL(files[0]); // read the local file
                reader.onloadend = function () { // set image data as background of div
                    parent.querySelector('.imagePreview').style.backgroundImage = "url(" + this.result + ")";
                }
            }
        });
    });
    function ClearNC() {
        document.getElementById("InsurerNC").value = '';
        document.getElementById("InsurerCellphone").value = '';
    }
    function ClearPhone() {
        document.getElementById("InsurerCellphone").value = '';
        if ($("#inscellDiv #spanVal").length !== 0) {
            $("#spanVal").remove();
            
        }
        if ($("#inscellDiv #btnSend").length !==0)
        {
            $("#btnSend").remove();
        }
    }
    function persianToEnglish(input) {
        var inputstring = input;
        var persian = ["۰", "۱", "۲", "۳", "۴", "۵", "۶", "۷", "۸", "۹"]
        var english = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
        for (var i = 0; i < 10; i++) {
            inputstring = inputstring.toString().replace(persian[i], english[i]);
        }
        return inputstring;
    }
    function checkNumber(event) {
        var aCode = event.which ? event.which : event.keyCode;
        if (aCode > 31 && (aCode < 48 || aCode > 57)) return false;
        return true;
    }

</script>





