@{
    ViewData["Title"] = "محصولات بیمه ملت";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


@section Head{
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="fa" />
    <meta name="document-type" content="Public" />
    <meta name="document-rating" content="General" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Ali Asle Zaeim" />
    <meta name="description" content="محصولات بیمه پاسارگاد، بیمه زندگی، بیمه شخص ثالث، بیمه بدنه اتومبیل، بیمه مسافرتی، بیمه آتش سوزی، بیمه مسئولیت" />
    <link href="/Layout/bundle/Index/index-style.css" rel="stylesheet" />
    <link href="/Layout/Css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="/Layout/Css/animate.css" rel="stylesheet" />
    <link href="/Layout/Css/Style.css" rel="stylesheet" />
    <link href="/Layout/Css/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="/Layout/Css/sina-nav.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.webp" />
    <link rel="canonical" href="https://metainsur.ir/Products" />
    }
    @section Header{
    <partial name="_Header" />
}

    <section id="reason" class="container py-3 py-sm-3 ">
    <h5 class="IRANSansWeb_Medium bt-color text-center">محصولات بیمه ملت </h5>
        <div class="row  mt-4 mx-1">
            <div class="col-lg-4  mb-3">
                <a href="/Life-Insurance">
                    <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                        <div class="mt-4 ">
                            <img src="/Images/icons/life-ins.png" />
                        </div>
                        <div class="p-3">
                            <h6 class="IRANSansWeb_Medium">بیمه زندگی</h6>
                            <p class="text-justify">با بیمه زندگی آرامش امروز و آسایش فردا را برای خود و خانواده به ارمغان بیاورید </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4  mb-3">
                <a href="/Third-Party-Price-Inquiry">
                    <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                        <div class="mt-4">
                            <img src="/Images/icons/third-ins.png" />
                        </div>
                        <div class="p-3">
                            <h6 class="IRANSansWeb_Medium">بیمه ثالث</h6>
                            <p class="text-justify">بیمه ثالث مسئولیت قانونی شماست، ما این مسئولیت را سریع و آنلاین پوشش می دهیم</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4  mb-3">
                <a href="/Car-Body-Price-Inquiry">
                    <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                        <div class="mt-4">
                            <img src="/Images/icons/car-ins.gif" />
                        </div>
                        <div class="p-3">
                            <h6 class="IRANSansWeb_Medium">بیمه بدنه</h6>
                            <p class="text-justify">بیمه ثالث خسارت خودرو مقصر را پوشش نمی دهد، شما به یک بیمه بدنه هم نیاز دارید</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row  mt-4 mx-1">
            <div class="col-lg-4  mb-3">
                <a href="/Fire-Insurance-Price-Inquiry">
                    <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                        <div class="mt-4">
                            <img src="/images/icons/fires-ins.png" />
                        </div>
                        <div class="p-3">
                            <h6 class="IRANSansWeb_Medium">بیمه آتش سوزی</h6>
                            <p class="text-justify">آتش سوزی، انفجار، زلزله، سیل و طوفان در یک بیمه اتش سوزی پوشش داده می شود</p>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-4  mb-3">
                <a href="/Liabilty-Insurance">
                    <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                        <div class="mt-4">
                            <img src="/images/icons/legal-ins.png" />
                        </div>
                        <div class="p-3">
                            <h6 class="IRANSansWeb_Medium">بیمه مسئولیت</h6>
                            <p class="text-justify">اگر شاغل هستید، کارفرما یا پزشک هستید یا مدیر یک ساختمان، بیمه مسئولیت نیاز دارید</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4  mb-3">
                <a href="/Travel-Insurance">
                    <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                        <div class="mt-4">
                            <img src="/Images/icons/travel-ins.png" />
                        </div>
                        <div class="p-3">
                            <h6 class="IRANSansWeb_Medium">بیمه مسافرتی</h6>
                            <p class="text-justify">عازم سفر هستید؟ سفارت کشور مقصد از شما بیمه میخواد؟ براتون آنلاین صدر می کنیم</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

</section>
    @section Scripts{
    <script src="/Layout/Js/jquery-2.0.0.min.js"></script>
    <script src="/Layout/Js/bootstrap.min.js"></script>
    <script src="/Layout/Js/owl.carousel.js"></script>
    <script src="/Layout/Js/custom.js"></script>
    <script src="/Layout/Js/sina-nav.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
}
@section Footer{
    <partial name="_Footer" />
}