@page "/ForgotPassword"
@model Web.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "بیمه ملت - فراموشی رمز عبور";
}
@section Head{
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="fa" />
    <meta name="document-type" content="Public" />
    <meta name="document-rating" content="General" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="ثبت نام در بیمه ملت" />
    <link href="/Layout/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Layout/Css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="/Layout/Css/animate.css" rel="stylesheet" />
    <link href="/Layout/Css/Style.css" rel="stylesheet" />
    <link href="/Layout/Css/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="/Layout/Css/sina-nav.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.webp" />
}
    <section class="container-fluid pt-5 pb-4 pb-lg-0 intro-section">
        <section class="m-3">
            <div id="login" class="box border-top-0 p-lg-4 p-3">
                <div class="col-xs-12 text-center">
                    <img src="/images/icons/Forgot.webp" width="65" alt="Forgot Password image" />
                    <h2 class="text-dark my-3">فراموشی رمز عبور</h2>
                </div>
                <form method="post">
                    <div class="form-group">
                        <label class="label-control" asp-for="forgotPasswordData.NC"></label>
                        <input class="form-control" type="text" autofocus autocomplete="off" asp-for="forgotPasswordData.NC" autocomplete="off" />
                        <span asp-validation-for="forgotPasswordData.NC" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="label-control" asp-for="forgotPasswordData.Cellphone"></label>
                        <input class="form-control mb-3" autocomplete="off" asp-for="forgotPasswordData.Cellphone" />
                        <span asp-validation-for="forgotPasswordData.Cellphone" class="text-danger"></span>
                    </div>

                    <button class="btn btn-danger btn-block mb-3 py-3" type="submit">تایید<i class="fa fa-chevron-left mr-2"></i></button>
                </form>
                <div class="col-xs-12 text-center">
                    <a href="/">صفحه اصلی</a> &ensp; | &ensp;
                    <a href="/Login">ورود</a>
                </div>
            </div>
        </section>
        <object class="d-none d-xl-block" type="image/svg+xml" data="Images/Svg/desktop-wave.svg"></object>

    </section>
    <input type="hidden" id="message" value="@TempData["res"]" />
    @section Scripts{
    <script src="~/lib/jquery/dist/jquery-3.3.1.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Layout/Js/bootstrap.min.js"></script>

    <script src="/Layout/Js/custom.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        let mes = document.getElementById("message").value;

        if (mes !== "") {
            Swal.fire({
                title: 'فراموشی رمز عبور',
                text: mes,
                icon: 'info',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'متوجه شدم'
            }).then(function() {
                window.location = "/Login";
            });

        }
    </script>
    }