@model DataLayer.Entities.InsPolicy.Travel.TravelInsClass

@{
    ViewData["Title"] = "حذف کلاس";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-danger">حذف کلاس بیمه مسافرتی</h1>

<h3 class="text-xs-center alert alert-warning">آیا مطمئن به حذف کلاس بیمه مسافرتی هستید؟</h3>
<div class = "container-fluid">
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حــذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
