@{
    ViewData["Title"] = "درخواست همکاری در فروش";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="alert alert-info text-xs-center">درخواست همکاری در فروش</h1>
<div class="container">
    <div class="row">
        <h2>بیمه گذار محترم :</h2>
        <p class="text-justify font-size-large line-height-10">
            ضمن سپاس از حسن نظر شما در انتخاب 
            بیمه ملت به عنوان شرکت بیمه گر در زمینه تامین پوششهای بیمه ای امیدواریم ارائه خدمات 
            این مجموعه چه در زمان مشاوره و خرید بیمه نامه و چه در زمان استفاده از خدماتو پوششهای 
            بیمه ای تامین کننده رضایت شما باشد. همچنین با هدف توسعه فرهنگ بیمه و کاهش هزینه های 
            بیمه ای شما امکانی فراهم شده است که می توانید با ارائه پیشنهاد به خانواده، دوستان و 
            اطرافیان خود نسبت به خرید انواع بیمه های مورد نیازشان از بیمه ملت کسب درآمد نموده و 
            از درآمد حاصله برای خرید یا تمدید بیمه نامه های خود استفاده نمائید.
        </p>
        <p class="text-justify font-size-large line-height-10">
            به منظور برخورداری از این فرصت کافی است روی دکمه «همکاری در فروش» کلیک نمائید. پس از 
            آن حساب کاربری شما بصورت اتوماتیک به «همکار فروش» ارتقاء یافته و برای شما کد و لینک 
            همکاری در فروش ایجاد می شود. شما میتوانید با انتشار لینک همکاری در فروش در شبکه های 
            اجتماعی یا ارسال مستقیم آن برای دوستان و اطرافیان خود به آنها پیشنهاد خرید بیمه نامه 
            از بیمه ملت را ارائه کنید و چنانچه آن افراد از طریق آن لینک وارد سایت شده و نسبت به 
            خرید بیمه نامه اقدام نمایند کیف پول شما در سایت شارژ می شود. همچنین می توانید با اعلام 
            کد همکاری در فروش خود به دیگران و وارد کردن آن کد در فرم خرید بیمه نامه توسط آنها ضمن 
            برخورداری مشتری از تخفیف ها و هدایای بیمه ملت، کیف پول شما نیز در سایت شارژ خواهد شد.
        </p>
        <p class="text-justify font-size-large line-height-10">
            امیدواریم خدمات ارائه شده که به منظور قدردانی 
            از همراهی شما با بیمه ملت در نظر 
            گرفته شده است موجب جلب رضایت بیش از پیش شما گردد.
        </p>
        <form asp-action="GetCooperationRequest" asp-area="UsersPanel" asp-controller="Home" method="post">
            <button type="submit" class="btn btn-success">درخواست همکاری</button>
        </form>
    </div>
</div>


