<footer class="container-footer  mt-5">
    <section id="footer-content">
        <div class="container">
            <div class="row pt-4">
                <div class="col-md-4  col-sm-4 col-6 py-3">
                    <h5 class="IRANSansWeb_Medium"> خدمات ما : </h5>
                    <ul>
                        <li>
                            <a href="/Life-Insurance" target="_blank" title="">بیمه زندگی</a>
                        </li>
                        <li>
                            <a href="/Third-Party-Price-Inquiry" target="_blank" title="">بیمه ثالث</a>
                        </li>
                        <li>
                            <a href="/Car-Body-Price-Inquiry" target="_blank" title="">بیمه بدنه</a>
                        </li>
                        <li>
                            <a href="/Fire-Insurance-Price-Inquiry" target="_blank" title="">بیمه آتش سوزی</a>
                        </li>
                        <li>
                            <a href="/Liabilty-Insurance" target="_blank" title="">بیمه مسئولیت</a>
                        </li>
                        <li>
                            <a href="/Travel-Insurance" target="_blank" title="">بیمه مسافرتی</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-4 col-sm-4 col-6  py-3">
                    <h5 class="IRANSansWeb_Medium"> دسترسی ها : </h5>
                    <ul>
                        <li>
                            <a href="/Login" target="_blank">ورود به سیستم بیمه یار</a>
                        </li>

                        <li>
                            <a href="https://melat.ir/upload/files/apps/mellat.insurance.agent.1.241.apk" target="_blank">دانلود اپ بازدید خودرو</a>
                        </li>
                        <li>
                            <a href="https://apps.mellatinsurance.ir/nportal/(S(3gejzo1sejfcqhcuj1xmdk0h))/Default.aspx?mode=1" target="_blank">پرتال نمایندگی تخصصی</a>
                        </li>
                        <li>
                            <a href="https://apps.mellatinsurance.ir/ulagent/" target="_blank">پرتال صدور بیمه زندگی</a>
                        </li>
                        <li>
                            <a href="https://apps.mellatinsurance.ir/ulcustomer/(S(ag042k45fekbrxf4zrbae5qu))/login.aspx" target="_blank">پرتال بیمه گذاران زندگی</a>
                        </li>
                        <li>
                            <a href="/Contact" target="_blank">تماس با ما </a>
                        </li>

                    </ul>
                </div>
                @*<div class="col-md-3 col-sm-4 col-6  py-3">
                <h5 class="IRANSansWeb_Medium"> مراکز خدمات : </h5>
                <ul>
                <li>
                <a href="/Faq" target="_blank">شعب استانی</a>
                </li>

                <li>
                <a href="/Login" target="_blank">دفاتر سرپرستی</a>
                </li>
                <li>
                <a href="/Register" target="_blank">نمایندگی ها</a>
                </li>
                <li>
                <a href="/About" target="_blank">مراکز خسارت</a>
                </li>
                <li>
                <a href="ContactUs.html" target="_blank">مراکز طرف قرارداد</a>
                </li>
                <li>
                <a href="/Contact" target="_blank">درباره ما </a>
                </li>

                </ul>
                </div>*@
                <div class="col-md-4  py-3">
                    <h5 class="IRANSansWeb_Medium">رسانه های ما : </h5>
                    <div>
                        <a href="https://www.aparat.com/melatins"><img src="/Images/aparat.png" class="p-2" /></a>
                        <a href="https://www.instagram.com/melatins3312/"><img src="/Images/instagram.png" class="p-2" /></a>
                    </div>

                    <div id="certi" class="mt-5">
                        <h5 class="IRANSansWeb_Medium">گواهینامه ها :</h5>
                        
                        <a href="/images/gov/73.jpg" title="گواهینامه رعایت حقوق مصرف کنندگان">
                            <img src="/images/gov/73.webp" alt="گواهینامه رعایت حقوق مصرف کنندگان" class="p-2" />
                        </a>
                        <a href="/images/gov/91.jpg" title="گواهینامه شرکت منتخب نمایشگاه بورس، بانک و بیمه">
                            <img src="/images/gov/91.webp" alt="گواهینامه شرکت منتخب نمایشگاه بورس، بانک و بیمه" class="p-2" />
                        </a>
                        <a href="/images/gov/94.jpg" title="گواهینامه سازمان منتخب مشتری مدار">
                            <img src="/images/gov/94.webp" alt="گواهینامه سازمان منتخب مشتری مدار" class="p-2" />
                        </a>
                        <a href="/images/gov/97.jpg" title="گواهینامه پاسخگویی و مسئولیت پذیری در صنعت بیمه">
                            <img src="/images/gov/97.webp" alt="گواهینامه پاسخگویی و مسئولیت پذیری در صنعت بیمه" class="p-2" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-allright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#" class="text-white ">
                        تمامی حقوق برای بیمه ملت محفوظ است
                    </a>
                </div>
            </div>
        </div>
    </section>
</footer>