/* Ins Page Style*/
#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
    margin: 20px 10px 10px 10px;
}

    #msform fieldset {
        background: white;
        border: 0 none;
        /*border-radius: 0.5rem;*/
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        position: relative;
    }

.form-card {
    text-align: right
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input, #msform .form-control,
#msform textarea {
    font-size: 18px;
    letter-spacing: 1px;
    border: 1px solid blue;
}
#msform .action-button {
    width: 100px;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}
    #msform .action-button:hover,
    #msform .action-button:focus {
        background-color: #311B92
    }

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

    #msform .action-button-previous:hover,
    #msform .action-button-previous:focus {
        background-color: #000000
    }

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: right
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

.fieldlabels {
    color: gray;
    text-align: right
}

#progressbar4 {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

    #progressbar4 .active {
        color: #673AB7
    }

    #progressbar4 li {
        list-style-type: none;
        font-size: 15px;
        width: 25%;
        float: right;
        position: relative;
        font-weight: 400
    }

    #progressbar4 #properties:before {
        font-family: FontAwesome;
        content: "\f006"
    }

    #progressbar4 #questionnaire:before {
        font-family: FontAwesome;
        content: "\f007"
    }

    #progressbar4 #records:before {
        font-family: FontAwesome;
        content: "\f030"
    }

    #progressbar4 #check:before {
        font-family: FontAwesome;
        content: "\f00c"
    }

    #progressbar4 li:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 20px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px
    }

    #progressbar4 li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1
    }

    #progressbar4 li.active:before,
    #progressbar4 li.active:after {
        background: #673AB7
    }

.progress {
    height: 20px
}

.progress-bar {
    background-color: #673AB7
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.form-control {
    padding: 1.2rem .75rem !important;
    font-size: 0.79rem !important;
    border: 1px solid #ccc !important;
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    color: black;
}
/*style2*/
.imagePreview {
    width: 15mm;
    height: 15mm;
    background-position: center center;
    background: url('/images/icons/select-icon.png');
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
    float: left;
    cursor: pointer;
}

.filmPreview {
    width: 15mm;
    height: 15mm;
    background-position: center center;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
    float: left;
    cursor: pointer;
}

.imgUp {
    margin-bottom: 15px;
}

.del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255,255,255,0.6);
    cursor: pointer;
}

.imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
}

.form-group.required .control-label:after {
    content: " *";
    color: red;
}

.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.cursor-pointer {
    cursor: pointer !important;
}

/*InsPageStyle*/


