@model DataLayer.Entities.InsPolicy.CarBody.CarBodyCarGroup
@using Core.Convertors;
@{
    ViewData["Title"] = "حذف گروه خودرو بیمه بدنه";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-danger">حذف گروه خودروی بیمه بدنه</h1>

<h3 class="text-xs-center alert alert-warning">آیا مطمئن به حــذف هستید؟</h3>
<div>
    <h4>گروه خودرو</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حــذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
