@model Core.DTOs.SiteGeneric.CarBodyIns.CBInsuranceInquiryVM
@{
    ViewData["Title"] = "استعلام قیمت بیمه بدنه - بیمه ملت";
    bool dis = false;
    if (Model.IsPosted == "yes")
    {
        dis = true;
    }
}
@using Core.Convertors
@using Core.Services.Interfaces;
@inject ICarBodyService _carBodyService;
@section Head{
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="fa" />
    <meta name="document-type" content="Public" />
    <meta name="document-rating" content="General" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Ali Asle Zaeim" />
    <link href="/Layout/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Layout/Css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="/Layout/Css/animate.css" rel="stylesheet" />
    <link href="/Layout/Css/Style.css" rel="stylesheet" />
    <link href="/Layout/Css/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="/Layout/Css/sina-nav.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.webp" />
}
@section Header{
    <partial name="_Header" />
}
<div class="container-fluid p-0">
    <div class="row w-100 p-0 m-0 justify-content-center">
        <div class="col-12 text-center mt-1 mb-2">
            <div class="card px-0 bg-zinfo">
                <div class="row">
                    <div class="col-md-2 hidden-sm-down">
                    </div>
                    <div class="col-md-8 col-xs-12 text-xs-center">
                        <h2 id="heading" class="zHeaderfont-size">استعلام قیمت بیمه بدنه</h2>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <a href="javascript:void(0)" id="moreInfo" class="btn btn-purple text-white mt-1 ml-3 mb-1">نیاز به اطلاعات بیشتر دارید؟</a>
                    </div>
                </div>

                <iframe src="https://apps.mellatinsurance.ir/Automobile2010/Forms/estelam_badaneh.aspx" height="700"></iframe>
            </div>
            <form method="post">
                <input type="hidden" name="Premium" value="0" />
                <button type="submit" asp-action="CarBodyInsurance" class="btn btn-success" asp-controller="CarBody">ثبت درخواست خرید</button>
            </form>
        </div>
    </div>
</div>
<section class="container mt-5" id="minf">
    <div class="row">
        <div id="s_post" class="col-lg-6 py-3 pl-3">
            <div class="d-flex flex-column">
                @foreach (var blg in Model.Blogs.ToList())
                {
                    <div class="d-flex flex-md-row flex-column mb-2">
                        <img src="/images/blogs/@blg.BlogImageInBlog" class="img-fluid ml-3 rad10 mb-2" />
                        <div>
                            <a href="/blog/d/@blg.BlogUrl" class="IRANSansWeb_Medium">@blg.BlogTitle</a>
                            <p class="text-justify">@blg.BlogSummary.Get_Nth_Character(100) ... </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section Footer{
    <partial name="_Footer" />
}

@section Scripts{
    <script src="/Layout/Js/jquery-2.0.0.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Layout/Js/bootstrap.min.js"></script>
    <script src="/Layout/Js/owl.carousel.js"></script>
    <script src="/Layout/Js/custom.js"></script>
    <script src="/Layout/Js/sina-nav.min.js"></script>
    <script src="/Layout/Js/vanilla-masker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <script src="~/Layout/Js/wordifyfa.min.js"></script>
    <script>
        var VehicleGroupIdEl = document.getElementById("vgid");
        VehicleGroupIdEl.addEventListener("change", function () {
            var url = "/CarBody/GetVehicleTypesBygId?gId=" + VehicleGroupIdEl.value;
            var formdata = new FormData();
            formdata.append("gId", VehicleGroupIdEl.value);
            fetch(url, {
                method: "POST",
                body: formdata,
            }).then(function (response) {
                if (response.status == 200) {
                    return response.json();
                }
            }).then((content) => {
                var tsel1 = document.getElementById("cartypesel");

                for (let i = tsel1.options.length - 1; i >= 1; i--) {
                    tsel1.removeChild(tsel1.options[i]);
                }

                for (var i = 0; i < content.length; i++) {
                    var opt1 = document.createElement("option");
                    opt1.text = content[i].title;
                    opt1.value = content[i].id;
                    tsel1.add(opt1);
                }
            });
            ///////////////////
            formdata.append("gId", VehicleGroupIdEl.value);
            var url2 = "/CarBody/GetVehicleUsagesBygId?gId=" + VehicleGroupIdEl.value;
            fetch(url2, {
                method: "POST",
            }).then(function (response) {
                if (response.status == 200) {
                    return response.json();
                }
            }).then((content) => {

                var tsel2 = document.getElementById("carusagesel");

                for (let i = tsel2.options.length - 1; i >= 1; i--) {
                    tsel2.removeChild(tsel2.options[i]);
                }
                for (var i = 0; i < content.length; i++) {
                    var opt1 = document.createElement("option");
                    opt1.text = content[i].title;
                    opt1.value = content[i].id;
                    tsel2.add(opt1);
                }
            });
        });
        document.getElementById("InsuranceType").addEventListener("change", function () {
            var myoption = this.options[this.selectedIndex];
            var data = myoption.dataset.records;
            if (myoption.value !== "") {
                if (data === "False") {
                    document.getElementById("YearsOfNoDamage_div").classList.add("no-display");
                    document.getElementById("InsValidDate_div").classList.add("no-display");
                }
                else {
                    document.getElementById("YearsOfNoDamage_div").classList.remove("no-display");
                    document.getElementById("InsValidDate_div").classList.remove("no-display");
                }
            }
            else {
                document.getElementById("YearsOfNoDamage_div").classList.add("no-display");
                document.getElementById("InsValidDate_div").classList.add("no-display");
            }
        });
        var years = document.getElementById("YearsOfNoDamage");
        years.addEventListener("change", function () {
            var noDamageP = this.value;
            var validDate = document.getElementById("InsValidDate").value;
            var nondamageDis = document.getElementById("NonDamgeDiscount");

            var url = "/CarBody/GetHDisount";
            var data = new FormData();
            data.append("Percent", noDamageP);
            data.append("ValidDate", validDate);
            if (validDate.length === 10) {
                var url = "/CarBody/GetHDisount";
                fetch(url, {
                    method: "POST",
                    body: data,
                }).then(function (response) {
                    if (response.status == 200) {
                        return response.json();
                    }
                }).then((content) => {
                    nondamageDis.value = content.discount;
                });
            }
        });
        var validDateEl = document.getElementById("InsValidDate");
        validDateEl.addEventListener("keyup", function () {
            var noDamageP = document.getElementById("YearsOfNoDamage");
            var validDate = this.value;
            var nondamageDis = document.getElementById("NonDamgeDiscount");

            var url = "/CarBody/GetHDisount";
            var data = new FormData();
            data.append("Percent", noDamageP.value);
            data.append("ValidDate", validDate);
            if (validDate.length === 10) {
                var url = "/CarBody/GetHDisount";
                fetch(url, {
                    method: "POST",
                    body: data,
                }).then(function (response) {
                    if (response.status == 200) {
                        return response.json();
                    }
                }).then((content) => {
                    nondamageDis.value = content.discount;
                });
            }
        })
        var numInps = document.getElementsByClassName("numberInput");
        for (var j = 0; j < numInps.length; j++) {
            if (this.id !== "vehiclePrice") {
                numInps[j].addEventListener("keyup", function () {
                    var x = wordifyfa(this.value);
                    var next = this.nextElementSibling;
                    var next2 = next.nextElementSibling;
                    if (next2 !== null && typeof (next2) !== "undefined") {
                        if (this.value !== "") {
                            next2.innerText = x;
                        }
                        else {
                            next2.innerText = "";
                        }
                    }
                });
            }
        }
        //let vPrice = document.getElementById("vehiclePrice");
        //vPrice.addEventListener("keyup", function () {
        //    if (this.value !== "") {
        //        document.getElementById("vehiclePriceword").innerText = wordifyfa(this.value);
        //    }
        //    else {
        //        document.getElementById("vehiclePriceword").innerText = "";
        //    }
        //});
        document.getElementById("moreInfo").addEventListener("click", function () {
            var element = document.getElementById('minf');
            var topPos = element.getBoundingClientRect().top + window.scrollY - 250;
            window.scrollTo({
                top: topPos,
                behavior: "smooth"
            });
        });
        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? ',' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

    </script>
    }




