@model Core.DTOs.SiteGeneric.CarBodyIns.CarBodyInsStep4VM

<div class="col-xs-12 offset-lg-3 col-lg-6 p-2 zsteps" data-step="1">

    <div class="row">
        <div class="col-12">
            <div class="row pr-2 pl-2">
                <div class="col-md-4 col-xs-12">
                    <a href="/Car-Body-Price-Inquiry" class="btn btn-success text-white col-xs-12 col-md-6">استعلام مجدد</a>
                </div>
                <div class="col-md-4 col-xs-12 text-center pt-1">
                    @*<h5 class="text-danger">حق بیمه : @Model.Premium.GetValueOrDefault(0).ToString("N0") ریال</h5>*@
                </div>
                <div class="col-md-4 col-xs-12 text-md-left">
                    <form asp-action="CarBodyInsurance" method="post">
                        <input type="hidden" name="Premium" value="@Model.Premium" />
                        <input type="hidden" name="Clear" value="true" />
                        <input type="submit" value="خالی کردن فرم" class="btn btn-danger text-center text-white pl-1 pr-1 col-12 col-md-6">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-center">مرحله چهارم - تصاویر داخلی</h3>
    <h6 class="text-danger text-center">عکس های با پسوند jpeg, jpg, gif, png مورد قبول هستند</h6>
    <h6 class="text-danger text-center">حداکثر حجم مجاز عکس 1 مگابایت می باشد</h6>
    <form id="Step1Form" method="post" asp-action="CarBodyInsStep4" asp-controller="CarBody" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace"
          data-ajax-update="#cbform-card"  enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="TrCode" />
        <input type="hidden" asp-for="Premium" />
        <input type="hidden" asp-for="StrChassisEngravingImage" />
        <input type="hidden" asp-for="StrEngineFullViewImage" />
        <input type="hidden" asp-for="StrEngineLicensePlate" />
        <div class="form-group row required" id="chassisimg">
            <div class="imgUp col-12">
                <label asp-for="ChassisEngravingImage" class="control-label col-7 col-lg-4"></label><span>&lArr;</span>
                <div class="imagePreview" id="chassis-image"></div>
                <input type="file" class="uploadFile img no-display" onchange="UpdateValidSpan('chassis-image-upload','chassisImageValid')" id="chassis-image-upload" accept="image/*" asp-for="ChassisEngravingImage">
                <br />
                <span asp-validation-for="ChassisEngravingImage" id="chassisImageValid" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row required" id="engineFimg">
            <div class="imgUp col-12">
                <label asp-for="EngineFullViewImage" class="control-label col-7 col-lg-4"></label><span>&lArr;</span>
                <div class="imagePreview" id="engineF-image"></div>
                <input type="file" class="uploadFile img no-display" onchange="UpdateValidSpan('engineF-image-upload','engineFImageValid')" id="engineF-image-upload" accept="image/*" asp-for="EngineFullViewImage">
                <br />
                <span asp-validation-for="EngineFullViewImage" id="engineFImageValid" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row required" id="enginelpimg">
            <div class="imgUp col-12">
                <label asp-for="EngineLicensePlate" class="control-label col-7 col-lg-4"></label><span>&lArr;</span>
                <div class="imagePreview" id="enginelp-image"></div>
                <input type="file" class="uploadFile img no-display" onchange="UpdateValidSpan('enginelp-image-upload','enginelpImageValid')" id="enginelp-image-upload" accept="image/*" asp-for="EngineLicensePlate">
                <br />
                <span asp-validation-for="EngineLicensePlate" id="enginelpImageValid" class="text-danger"></span>

            </div>
        </div>


        <div class="form-group text-center">
            <a class="btn btn-danger text-white" href="#" data-ajax="true" data-ajax-url="/CarBody/CarBodyInsStep3" data-ajax-update="#cbform-card">مرحله قبل</a>
            <input type="submit" value="مرحله بعد" class="btn btn-primary" />
        </div>
    </form>    
</div>
<script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/customvalidate.js"></script>
<script>

    var percent = parseFloat((100 / 8) * 4);
    percent = percent.toFixed();
    document.getElementById("prog-bar").style.width = percent + "%";
    document.getElementById("properties").classList.remove("active");
    document.getElementById("exterior").classList.remove("active");
    document.getElementById("internal").classList.remove("active");
    document.getElementById("motor").classList.add("active");
    document.getElementById("accessories").classList.remove("active");
    document.getElementById("bodystains").classList.remove("active");
    document.getElementById("filmes").classList.remove("active");
    document.getElementById("check").classList.remove("active");


    function ShowImage(src_el_id, show_el_id) {
        var img_el = document.getElementById(src_el_id);
        if (img_el !== null && img_el !== "undefined") {
            var imgname = img_el.value;
            var src = "/images/icons/select-icon.png";
            if (imgname !== "") {
                src = "/images/Ins/carBody/" + imgname;
            }
            document.getElementById(show_el_id).style.backgroundImage = "url('" + src + "')";
        }
    }
    ShowImage("StrChassisEngravingImage", "chassis-image");
    ShowImage("StrEngineFullViewImage", "engineF-image");
    ShowImage("StrEngineLicensePlate", "enginelp-image");
    function UpdateValidSpan(inputId, spanId) {
        var inp = document.getElementById(inputId);
        if (inp !== null && typeof (inp) !== "undefined") {
            if (inp.value !== null) {
                var sp = document.getElementById(spanId);
                if (sp !== null && typeof (sp) !== "undefined") {
                    sp.innerText = '';
                }
            }

        }
    }
    document.querySelectorAll('.imagePreview').forEach((el) => el.addEventListener("click", function () {
        //click sibling .uploadFile
        this.nextElementSibling.click();
    }
    ));
    document.querySelectorAll('.uploadFile').forEach((el) => el.addEventListener("change", function () {
        this.parentNode.lastElementChild.innerHTML = "";

    }
    ));





</script>